* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  max-width: 1000px;
  margin: 0 auto;
}

header h1 {
  color: rgb(0, 0, 0);
  margin: 10px 30px;
  font-size: 48px;
  text-shadow: 2px 2px 5px rgb(144, 159, 192);
  text-align: center;
  font-family: "Source Serif Pro", serif;
}

main {
  margin: 10px 30px;
}

.searchContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 100%;
  height: 350px;
  justify-content: center;
}

.searchForm {
  display: flex;
  justify-content: center;
  height: 50px;
  margin: 20px auto;
}

.searchValue {
  width: 500px;
  padding: 0px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #1a1a1a;
  border: 2px solid rgb(100, 143, 192);
  border-radius: 15px 0px 0px 15px;
  border-right: 0;
  background: none;
  box-sizing: border-box;
}


.searchBtn {
  padding: 10px 30px;
  background: rgb(100, 143, 192);
  border: none;
  border-radius: 0px 15px 15px 0px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
  cursor: pointer;
  position: relative;
  min-width: 80px;
  max-width: 200px;
}

.searchBtn:hover {
  background: rgb(44, 70, 100);
}

.wikiResults {
  margin: 200px auto;
  max-width: 800px;
  text-align: left;
}

.resultList {
  margin-bottom: 20px;
  color: rgb(44, 44, 44);
  padding: 10px;
  width: 100%;
  transition: transform 0.5s;
  cursor: pointer;
}

.resultList:hover {
  color: rgb(37, 37, 90);
  transform: translateY(-5px);
}

.resultList-title a {
  color: black;
  text-decoration: none;
}

.resultList-title a:hover {
  color: rgb(39, 39, 180);
}

.resultList-detail {
  color: #383838;
  font-size: 14px;
}

.readMore {
  color: rgb(39, 39, 180);
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
}

footer {
  text-align: center;
  color: #292929;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  
    .searchValue{
        width: 600px;
    }
  }

@media screen and (max-width: 750px) {

  .searchValue{
      width: 400px;
  }
}  

@media screen and (max-width: 620px) {
  
    .searchValue{
        width: 200px;
    }
  }