* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  max-width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
}

header h1 {
  color: rgb(0, 0, 0);
  margin: 10px 30px;
  font-size: 48px;
  text-shadow: 2px 2px 5px rgb(144, 159, 192);
  text-align: center;
  font-family: "Source Serif Pro", serif;
}

main {
  margin: 10px 30px;
}

.searchContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.searchForm {
  display: flex;
  justify-content: center;
  height: 40px;
}

.searchValue {
  width: 500px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 200;
  border: 2px solid rgb(134, 165, 201);
  border-radius: 15px 0px 0px 15px;
  border-right: 0;
  background: none;
}

.searchBtn {
  padding: 10px 30px;
  background: rgb(134, 165, 201);
  border: none;
  border-radius: 0px 15px 15px 0px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(245, 245, 245);
  cursor: pointer;
  position: relative;
}

.searchBtn:hover {
  background: rgb(44, 70, 100);
}

.wikiResults {
  padding: 20px 0 50px;
  margin-top: 150px;
  margin-left: 50px;
  width: 550px;
  text-align: left;
}

.resultList {
  margin-bottom: 20px;
  color: rgb(44, 44, 44);
  padding: 10px;
  width: 100%;
}

.resultList:hover {
  color: rgb(37, 37, 90);
}

.resultList-title a {
  color: black;
  text-decoration: none;
}

.resultList-title a:hover {
  color: rgb(39, 39, 180);
  text-decoration: underline;
}

.resultList-snippet {
  color: #383838;
  font-size: 14px;
}

.resultList-link {
  color: #3436ad;
  font-size: 14px;
}

footer {
  text-align: center;
  color: #292929;
  width: 100%;
}
